<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>Synth AU</string>
			<key>factoryFunction</key>
			<string>AUSynthFactory</string>
			<key>manufacturer</key>
			<string>SWIL</string>
			<key>name</key>
			<string>Matt Hill: MiniSynth</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>MS04</string>
			<key>type</key>
			<string>aumu</string>
			<key>version</key>
			<integer>65536</integer>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MiniSynthMod</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>developer.audiounit.MattHill.MiniSynthMod</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
